[Desktop Entry]
Name=Yorl Installer
Comment=Install Yorl Compiler
Exec=install-yolex-gui
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Development;
